<!-- <div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        {% if  item.url == "NA"%}
          <li><a>{{ item.name }}</a></li>
        {% else %}
          <li><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div> -->


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>

    <!-- <h5>Under review and/or preprints</h5> -->

    <!-- <br><h5>In press</h5> -->
    
    <br><h5>2023</h5>
    <li>Shinohara N., Kobayashi Y, Nishizawa K., Kadowaki K., Yamawo A. 2024 Plant–mycorrhizal associations may explain the latitudinal gradient of plant community assembly. <i>Oikos</i> e10367. <a href = https://nsojournals.onlinelibrary.wiley.com/doi/abs/10.1111/oik.10367 target = "_blank"> [link] </a> </li>

    <br><h5>2023</h5>
    <li>Robinson ML et al. 2023 Plant size, latitude, and phylogeny explain variability in global herbivory. <i>Science</i> 382:679–683. <a href = https://www.science.org/doi/10.1126/science.adh8830 target = "_blank"> [link] </a> </li>
    <li>Kobayashi Y, Haga C., Shinohara N., Nishizawa K., Mori AS. 2023 Dominant temperate and subalpine Japanese trees have variable photosynthetic thermal optima according to site mean annual temperature. <i>Global Ecology and Biogeography</i> 32:397–407. <a href = https://onlinelibrary.wiley.com/doi/10.1111/geb.13636 target = "_blank"> [link] </a> </li>
    <li>Shinohara N., Nakadai R, Suzuki Y., Terui A. 2023 Spatio-temporal dimensions of community assembly. <i>Population Ecology</i> 65:5–16 (Editor's choice) <a href = https://esj-journals.onlinelibrary.wiley.com/doi/10.1002/1438-390X.12144 target = "_blank"> [link] </a></li>

    <br><h5>2022</h5>
    <li>Kasada M., Uchida K., Shinohara N. Yoshida T. 2022 Ecosystem-based disaster risk reduction can benefit biodiversity conservation in a Japanese agricultural landscape. <i>Frontiers in Ecology and Evolution</i> 10:699201 <a href = https://www.frontiersin.org/articles/10.3389/fevo.2022.699201/full target = "_blank"> [link] </a></li>
    <li>Nishizawa K.†, Shinohara N.†, Cadotte MW., Mori AS. 2022 († equal contribution) The latitudinal gradient in plant community assembly processes: A meta-analysis. <i>Ecology Letters</i> 25:1711–1724 <a href = https://onlinelibrary.wiley.com/doi/epdf/10.1111/ele.14019 target = "_blank"> [link] </a></li>
    <li>Shinohara N., Hongo Y., Ichinokawa M., Nishijima S., Sawayama S., Kurogi H., Uto Y., Mita H., Ishii M., Kusano A., Akimoto S. 2022 Similar fish species composition despite larger environmental heterogeneity during severe hypoxia in a coastal ecosystem. <i>Ecology and Evolution</i> 12:e8884 <a href = https://onlinelibrary.wiley.com/doi/full/10.1002/ece3.8884 target="_blank"> [link] </a></li>

    <br><h5>2021</h5>
    <li>Shinohara N., Yoshida T. 2021 Temporal changes of local and regional processes in the assembly of herbivorous insect communities. <i>Oikos</i> 130(10): 1626–1635 (Editor's choice) <a href = https://onlinelibrary.wiley.com/doi/full/10.1111/oik.08350 target = "_blank"> [link] </a></li>
    <li>篠原直登・山道真人 2021 群集生態学における共存理論の現代的統合 日本生態学会誌 71:2 35–65 <a href = https://www.jstage.jst.go.jp/article/seitai/71/2/71_35/_article/-char/ja target = "_blank"> [link] </a> <br>(Shinohara, N., M. Yamamichi. A modern synthesis of coexistence theories in community ecology. 2021 <i>Japanese Journal of Ecology</i> 71:2 35-65 [in Japanese])</br> </li>
    <li>Shinohara N., Yoshida T. 2021 Why species richness of plants and herbivorous insects do or do not correlate. <i>Ecological Research</i> 36:258–265 <a href = https://esj-journals.onlinelibrary.wiley.com/doi/10.1111/1440-1703.12189 target="_blank">[link]</a></li>

    <br><h5>2019</h5>
    <li>Shinohara N., Uchida K., Yoshida T. 2019. Contrasting effects of land-use changes on herbivory and pollination networks. <i>Ecology and Evolution</i> 9(23): 13585–13595<a href = https://onlinelibrary.wiley.com/doi/10.1002/ece3.5814 target="_blank">[link]</a></li>

  </div>
</div>
