<!-- <div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        {% if  item.url == "NA"%}
          <li><a>{{ item.name }}</a></li>
        {% else %}
          <li><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div> -->


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>

    <h5>Under review and/or preprints</h5>
    <li>Co-authored article (under review)</li>
    <li>Shinohara et al. (in prep. with feedback from a journal): <a href = https://www.biorxiv.org/content/10.1101/2021.04.29.442042v1 target="_blank">biorxiv</a></li>

    <br><h5>2021</h5>
    <li>Shinohara, N., T. Yoshida. (accepted) Temporal changes of local and regional processes in the assembly of herbivorous insect communities. <i>Oikos</i></li>
    <li>Shinohara, N., M. Yamamichi. A modern synthesis of coexistence theories in community ecology. (in press) <i>Japanese Journal of Ecology</i> [in Japanese] <br>（篠原直登・山道真人 (印刷中) 群集生態学における共存理論の現代的統合 日本生態学会誌）</br></li>
    <li><a href = https://esj-journals.onlinelibrary.wiley.com/doi/10.1111/1440-1703.12189 target="_blank">Shinohara, N., T. Yoshida. 2021 Why species richness of plants and herbivorous insects do or do not correlate. <i>Ecological Research</i> 36:258–265</a></li>

    <br><h5>2019</h5>
    <li><a href = https://onlinelibrary.wiley.com/doi/10.1002/ece3.5814 target="_blank">Shinohara, N., K. Uchida, T. Yoshida. 2019. Contrasting effects of land-use changes on herbivory and pollination networks. <i>Ecology and Evolution</i> 9(23): 13585-13595</a></li>

  </div>
</div>
