<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h4>Disentangling Community Assembly</h4>
    <p>In ecosystems, community structures (diversity, species composition) are determined by multi-scale processes.
      My research motivation is to answer the question to what extent local and regional processes co-operate in community assembly.
      Despite specific interests in mutli-trophic contexts (e.g., plants and insects), I am excited to tackle the question in a broad range of ecosystems.
      <br>(ref. Shinohara and Yoshida 2021, Shinohara and Yoshida in press, Shinohara et al. 2021)
    </p>
  </div class="col-md-7">
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/MultiTroph.jpg" alt="" width="80%">
  </div class="col-md-5">
</div>

<div class="row g-5 mb-5">
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/IntNet.jpg" alt="" width="80%">
  </div class="col-md-5">
  <div class="col-md-7">
    <h4>Human Impacts on Plant-Insect Interaction Networks</h4>
    <p>As one of the greatest threads to global biodiversity, land-use changes have unappreciated effects on communities by altering the ways species are interacting (the structures of interaction networks).
      I'm exploring the mechanisms and consequences of human land-use changes on interaction networks in agricultural landscapes.
      <br>(ref. Shinohara et al. 2019)
    </p>
  </div class="col-md-7">
</div>
