<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h4>Multi-Trophic Extension of Community Assembly</h4>
    <p>In ecosystems, species are gathering to form complex assemblages (community assembly).
      To what extent local and regional processes co-operate in community assembly is one of the core questions in ecology.
      My research motivation is to expand the current community assembly theories to multi-trophic communities.
      <br>(ref. Shinohara and Yoshida 2021, Shinohara and Yoshida in press)
    </p>
  </div class="col-md-7">
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/MultiTroph.jpg" alt="" width="80%">
  </div class="col-md-5">
</div>

<div class="row g-5 mb-5">
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/IntNet.jpg" alt="" width="80%">
  </div class="col-md-5">
  <div class="col-md-7">
    <h4>Human Impacts on Plant-Insect Interaction Networks</h4>
    <p>As one of the greatest threads to global biodiversity, land-use changes have unappreciated effect on communities by altering the ways species are interacting (the structures of interaction networks).
      I'm exploring the mechanisms and consequences of human land-use changes on interaction networks in agricultural landscapes.
      <br>(ref. Shinohara et al. 2019)
    </p>
  </div class="col-md-7">
</div>
